body {
	margin:0px;
}

body > #retour {
	position:fixed;
	right:40px;
	bottom:20px;
	opacity: 0.6;
   filter(opacity=60);
}

#header {
	background-color:#0B2161;
	height:150px;
	width:100%;
	
}

img#logo_site {	/* TAILLE DU LOGO */
	position:left;
	height:150px;
	width:200px;
}

h3 {
	display:block;
	text-align:center;
}

p {
    position:absolute;
	top:20px;
	left:280px;
	text-align:center;
	color:white;
	font-family:Comic Sans MS;
	font-size:35px;
}



nav{
	height:40px;
	width:100%;
	background-color:#0B2161;
	position:sticky;
	top:0px;
	left:0px;
	left:0px;
	z-index:1;
}

#header > #barre_outil {
	position:absolute;
	top:123px;
	right:0px;
}

li {
	display:inline-block;
	padding-left:50px;
	padding-top:15px;
}

a.menu:link 
{ 
	color:white;
	text-decoration:none; 
} 

a.menu {
	color:white;
}

hr {
	width:96%;
	margin-left:2%;
}

#deroulante {
	margin-left:40%;
}

#footer {
	height:520px;
	width:100%;
	background-color:#E9E6E6;
}

#bas {
	width:50%;
	margin-left:25%;
	margin-right:25%;
}

#bas2 {
	width:50%;
	margin-left:25%;
	margin-left:25%;
}

iframe {
	margin-left:15%;
	margin-right:15%;
}

.container div
{
	display : inline-block;
	width : 350px;
	height : 100px;
	margin : 20px;
}

h1
{
	font-size : 30px;
	border : 2px solid black;
	background-color : #0B2161;
	color : white;
	text-align : center;
}
span
{
	display : block;
	font-weight : bold;
	font-size : 30px;
}
#marque_1 li
{
	display : inline-block;
	width : 400px;
}
article
{
	margin-left : 80px;
}